header{ font-size: large;}
body {
  background-color: gainsboro;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
}
:active-view-transition 
body{ background-color: blueviolet; font-family: 'Times New Roman', Times, serif;}
