header{ font-size: large;}
body {
  background-color: gainsboro;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  font-display: block;
  font-feature-settings: "afrc";
}
:active-view-transition 
body{ background-color: blueviolet; font-family: 'Times New Roman', Times, serif;}

section{
  padding: 2em;
  background-color: rgb(229, 42, 223);
  text-shadow: 6px 6px 6px plum;
  transform: rotate3d(40deg);
}

a{ 
  text-decoration: underline;
  color: bisque;
}